:root {
    --color-primary: #5ec576;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);

}

.button{
    border: 1px solid #94ab71;
    border-radius: 30px;
    background-color: forestgreen;
    margin-right: 5%;
    background-color: white;
    height: 2.5rem;
    top: 10%;
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;
    cursor:pointer;
    padding: 0px 25px;
    border-radius: 8%;
    outline: none;
}
.button:hover{
    border:1px solid #4d6632;
    background: none;
}

.userModal {
    display: block;
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60rem;
    background-color: #f3f3f3;
    padding: 4rem 5rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 1000000;
    transition: all 0.5s;
    /* font-size: 30.5%; */
}


.modal__header {
    font-size: 2.5rem;
    margin-bottom: 3.5rem;
    line-height: 1.2;
}

.modal__form {
    margin: 2px 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 1rem;
}

.modal__form label {
    font-size: 1.5rem;
    font-weight: 500;
}

.modal__form input {
    font-size: 1.5rem;
    padding: 0.5rem 0rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
}

.modal__form button {
    grid-column: 1 / span 2;
    justify-self: center;
    margin-top: 1rem;
}

.btn--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.3rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    border: none;
    background: none;
}
.highlight {
    position: relative;
}

.highlight::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: var(--gradient-primary);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 1000;
    transition: all 0.5s;
}
