.wrapper {
    width: 100%;
}
.sidebar {
    font-size: 25px;
    background: #4e73df;
    min-height: 100vh;
    text-align: center;
    color: white;
    padding-top: 2%;
}
.sidebar > ul > li {
    padding: 10px;
    list-style: none;
}
.sidebar > ul > li a {
    text-decoration: none;
    color: white;
    display: block;
}